@model Finis.Models.Exemplar

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Exemplar</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.editora.cnpj)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.editora.cnpj)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.idioma.nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.idioma.nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sessao.nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sessao.nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.titulo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.titulo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.conservacao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.conservacao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.isbn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.isbn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ano)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ano)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.edicao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.edicao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.preco)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.preco)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.peso)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.peso)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.vendaOnline)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vendaOnline)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.quantidade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.quantidade)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.user_insert)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.user_insert)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.user_update)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.user_update)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.date_insert)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.date_insert)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.date_update)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.date_update)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
