@model Finis.Models.Exemplar

@{
    ViewBag.Title = "Editar Exemplar";
}

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="container" id="formulario">

        @Html.ValidationSummary(true, "", new { @class = "validate" })
        @Html.HiddenFor(model => model.date_insert)
        @Html.HiddenFor(model => model.user_update)
        @Html.HiddenFor(model => model.id)

        <form class="col s12">
            <div class="row">
                <div class="input-field col s8">
                    @Html.LabelFor(model => model.titulo, htmlAttributes: new { @class = "validate" })
                    @Html.EditorFor(model => model.titulo, new { htmlAttributes = new { @class = "validate" } })
                    @Html.ValidationMessageFor(model => model.titulo, "", new { @class = "validate" })
                </div>
                <div class="input-field col s2">
                    @Html.EnumDropDownListFor(model => model.conservacao, "Conservação", htmlAttributes: new { @class = "validate" })
                    @Html.ValidationMessageFor(model => model.conservacao, "", new { @class = "validate" })
                </div>
                <div class="input-field col s2">
                    @Html.LabelFor(model => model.isbn, htmlAttributes: new { @class = "validate" })
                    @Html.EditorFor(model => model.isbn, new { htmlAttributes = new { @class = "validate" } })
                    @Html.ValidationMessageFor(model => model.isbn, "", new { @class = "validate" })
                </div>
            </div>
            <div class="row">
                <div class="input-field col s2">
                    @{ Html.EnableClientValidation(false); }
                    @Html.EditorFor(model => model.ano, new { htmlAttributes = new { @id = "date", @class = "datepicker", @placeholder = "Ano" } })
                    @{ Html.EnableClientValidation(true); }
                    @Html.ValidationMessageFor(model => model.ano, "", new { @class = "validate" })
                </div>
                <div class="input-field col s2">
                    @Html.LabelFor(model => model.edicao, htmlAttributes: new { @class = "validate" })
                    @Html.EditorFor(model => model.edicao, new { htmlAttributes = new { @class = "validate" } })
                    @Html.ValidationMessageFor(model => model.edicao, "", new { @class = "validate" })
                </div>
                <div class="input-field col s2">
                    @Html.LabelFor(model => model.peso, htmlAttributes: new { @class = "validate" })
                    @{ Html.EnableClientValidation(false); }
                    @Html.EditorFor(model => model.peso, new { htmlAttributes = new { @class = "validate" } })
                    @{ Html.EnableClientValidation(true); }
                    @Html.ValidationMessageFor(model => model.peso, "", new { @class = "validate" })
                </div>
                <div class="input-field col s2">
                    @Html.LabelFor(model => model.precoCompra, htmlAttributes: new { @class = "validate" })
                    @{ Html.EnableClientValidation(false); }
                    @Html.EditorFor(model => model.precoCompra, new { htmlAttributes = new { @class = "validate" } })
                    @{ Html.EnableClientValidation(true); }
                    @Html.ValidationMessageFor(model => model.precoCompra, "", new { @class = "validate" })
                </div>
                <div class="input-field col s2">
                    @Html.LabelFor(model => model.precoVenda, htmlAttributes: new { @class = "validate" })
                    @{ Html.EnableClientValidation(false); }
                    @Html.EditorFor(model => model.precoVenda, new { htmlAttributes = new { @class = "validate" } })
                    @{ Html.EnableClientValidation(true); }
                    @Html.ValidationMessageFor(model => model.precoVenda, "", new { @class = "validate" })
                </div>
                <div class="input-field col s2">
                    @Html.LabelFor(model => model.quantidade, htmlAttributes: new { @class = "validate" })
                    @Html.EditorFor(model => model.quantidade, new { htmlAttributes = new { @class = "validate" } })
                    @Html.ValidationMessageFor(model => model.quantidade, "", new { @class = "validate" })
                </div>
            </div>
            <div class="row">
                <div class="input-field col s3">
                    @Html.DropDownListFor(model => model.idiomaId, (SelectList)ViewBag.Idiomas, "Idioma", htmlAttributes: new { @class = "validate" })
                    @Html.ValidationMessageFor(model => model.idiomaId, "", new { @class = "validate" })
                </div>
                <div class="input-field col s4">
                    @Html.DropDownListFor(model => model.editoraId, (SelectList)ViewBag.Editoras, "Editora", htmlAttributes: new { @class = "validate" })
                    @Html.ValidationMessageFor(model => model.editoraId, "", new { @class = "validate" })
                </div>
                <div class="input-field col s3">
                    @Html.DropDownListFor(model => model.sessaoId, (SelectList)ViewBag.Sessoes, "Sessão", htmlAttributes: new { @class = "validate" })
                    @Html.ValidationMessageFor(model => model.sessaoId, "", new { @class = "validate" })
                </div>
                <div class="input-field col s2">
                    @Html.EnumDropDownListFor(model => model.vendaOnline, "Venda online?", htmlAttributes: new { @class = "validate" })
                    @Html.ValidationMessageFor(model => model.vendaOnline, "", new { @class = "validate" })
                </div>
            </div>
            @*<div class="row">
                <div class="input-field col s12">
                    @Html.CheckBox("vendaOnline", true)
                    @Html.LabelFor(model => model.vendaOnline, htmlAttributes: new { @class = "validate" })
                    @Html.ValidationMessageFor(model => model.vendaOnline, "", new { @class = "validate" })
                </div>
            </div>*@
            <div class="row">
                <div class="input-field col s12">
                    @Html.LabelFor(model => model.descricao, htmlAttributes: new { @class = "validate" })
                    @Html.ValidationMessageFor(model => model.descricao, "", new { @class = "validate" })
                    @Html.TextAreaFor(model => model.descricao, new { @class = "materialize-textarea" })
                </div>
            </div>
            <div class="row">
                <button class="btn waves-effect waves-light" onClick="location.href='@Url.Action("Index","Exemplares")'" type="button" name="action">
                    <i class="fa fa-arrow-left" aria-hidden="true"></i>
                    Voltar
                </button>
                <button class="btn waves-effect waves-light" type="submit" name="action">
                    Salvar
                    <i class="fa fa-plus" aria-hidden="true"></i>
                </button>
            </div>
        </form>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">

        $(document).ready(function () {
            $('select').material_select();
            $('#descricao').trigger('autoresize');
        });

    </script>
}
