@model IEnumerable<Finis.Models.Exemplar>

@{
    ViewBag.Title = "Cadastro de Exemplares";
}

<script type="text/javascript">

    function DeletaRegistro(id) {

        $.ajax({
            type: "GET",
            url: "@Url.Action("DeletarRegistro", "Exemplares")",
                 data: { id: id },
                 dataType: "json",
                 success: function (dados) {
                     location.reload();
                 }
             });
    }

    function CarregaDetalhes(id) {

             $.ajax({
                 type: "GET",
                 url: "@Url.Action("Detalhes", "Exemplares")",
                 data: { id: id },
                 dataType: "json",
                 success: function (dados) {
                     obj = JSON.parse(dados.Resultado);
                     PreencheModalDetalhes(obj);
                 }
        });
    }

    function PreencheModalDetalhes(obj) {

        document.getElementById('titulo').innerHTML = SubstituirCampoNulo(obj.nome);
        document.getElementById('editora').innerHTML = SubstituirCampoNulo(obj.editora.nome);
        document.getElementById('edicao').innerHTML = SubstituirCampoNulo(obj.edicao);
        document.getElementById('conservacao').innerHTML = SubstituirCampoNulo(obj.conservacaoString);
        document.getElementById('quantidade').innerHTML = SubstituirCampoNulo(obj.quantidade);
        document.getElementById('isbn').innerHTML = SubstituirCampoNulo(obj.isbn);
        document.getElementById('ano').innerHTML = SubstituirCampoNulo(obj.ano);
        document.getElementById('precoCompra').innerHTML = SubstituirCampoNulo(obj.precoCompraString);
        document.getElementById('precoVenda').innerHTML = SubstituirCampoNulo(obj.precoVendaString);
        document.getElementById('descricao').innerHTML = SubstituirCampoNulo(obj.descricao);
        document.getElementById('peso').innerHTML = SubstituirCampoNulo(obj.peso);
        document.getElementById('vendaOnline').innerHTML = SubstituirCampoNulo(obj.vendaOnlineString);
        document.getElementById('quantidade').innerHTML = SubstituirCampoNulo(obj.quantidade);
        document.getElementById('idioma').innerHTML = SubstituirCampoNulo(obj.idioma.nome);
        document.getElementById('sessao').innerHTML = SubstituirCampoNulo(obj.sessao.nome);
    }

    function SubstituirCampoNulo(campo) {

        if (campo == null || campo == "")
            return " - "
        else
            return campo;
    }

</script>

@using (Html.BeginForm())
{
    <div id="container-busca">
        <div class="nav-wrapper">
            <form>
                <div class="row">
                    <div class="input-field col s8">
                        @Html.Label("Buscar")
                        @Html.Editor("pesquisar", new { htmlAttributes = new { @class = "validate" } })
                    </div>
                    <div class="col s2">
                        <button type="submit" class="btn-floating" id="botao-busca">
                            <i class="material-icons">search</i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
}
<div class="fixed-action-btn">
    <a class="btn-floating btn-large red" href="@Url.Action("Create","Exemplares")">
        <i class="material-icons">add</i>
    </a>
</div>
<table class="highlight">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Título")
            </th>
            <th>
                @Html.DisplayNameFor(model => model.isbn)
            </th>
            <th>
                @Html.DisplayName("Editora")
            </th>
            <th>
                @Html.DisplayNameFor(model => model.edicao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.conservacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.quantidade)
            </th>
            <th>Opções</th>
        </tr>
    </thead>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.isbn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.editora.nome)
        </td>
        <td>
           @Html.DisplayFor(modelItem => item.edicao)
        </td>
        <td>
           @Html.DisplayFor(modelItem => item.conservacaoString)
        </td>
        <td>
           @Html.DisplayFor(modelItem => item.quantidade)
        </td>
        <td>
            <a class="btn-floating blue" href="@Url.Action("Edit", "Exemplares", new { id = @item.id })"><i class="material-icons">mode_edit</i></a>
            <a class="btn-floating green details modal-trigger" onclick="CarregaDetalhes(@item.id)" href="#modal1">
                <i class="fa fa-info" aria-hidden="true"></i>
            </a>
            <a class="btn-floating red" onclick="showModal(@item.id, 'md1'); return false;"><i class="material-icons">delete</i></a>
        </td>
    </tr>
}
</table>

<!-- Estrutura do Modal de detalhes -->
<div id="modal1" class="modal">
    <div class="modal-content">
        <h5>Informações do exemplar</h5>
        <div class="row" id="linha-detalhes">
            <div class="col s7">
                <label>Título:</label>
            </div>
            <div class="col s2">
                <label>Conservação:</label>
            </div>
            <div class="col s3">
                <label>Venda na internet?:</label>
            </div>
        </div>
        <div class="row" id="linha-detalhes">
            <div class="col s7">
                <label class="texto-detalhes" id="titulo">.</label>
            </div>
            <div class="col s2">
                <label class="texto-detalhes" id="conservacao">.</label>
            </div>
            <div class="col s3">
                <label class="texto-detalhes" id="vendaOnline">.</label>
            </div>
        </div>
        <div class="row" id="linha-detalhes">
            <div class="col s12">
                <label>ISBN:</label>
            </div>
            <div class="col s12">
                <label class="texto-detalhes" id="isbn">.</label>
            </div>
        </div>
        <div class="row" id="linha-detalhes">
            <div class="col s2">
                <label>Ano:</label>
            </div>
            <div class="col s2">
                <label>Edição:</label>
            </div>
            <div class="col s2">
                <label>Peso:</label>
            </div>
            <div class="col s2">
                <label>Preço de Compra:</label>
            </div>
            <div class="col s2">
                <label>Preço de Venda:</label>
            </div>
            <div class="col s2">
                <label>Quantidade:</label>
            </div>
        </div>
        <div class="row" id="linha-detalhes">
            <div class="col s2">
                <label class="texto-detalhes" id="ano">.</label>
            </div>
            <div class="col s2">
                <label class="texto-detalhes" id="edicao">.</label>
            </div>
            <div class="col s2">
                <label class="texto-detalhes" id="peso">.</label>
            </div>
            <div class="col s2">
                <label class="texto-detalhes" id="precoCompra">.</label>
            </div>
            <div class="col s2">
                <label class="texto-detalhes" id="precoVenda">.</label>
            </div>
            <div class="col s2">
                <label class="texto-detalhes" id="quantidade">.</label>
            </div>
        </div>
        <div class="row" id="linha-detalhes">
            <div class="col s4">
                <label>Idioma:</label>
            </div>
            <div class="col s4">
                <label>Editora:</label>
            </div>
            <div class="col s4">
                <label>Sessão:</label>
            </div>
        </div>
        <div class="row" id="linha-detalhes">
            <div class="col s4">
                <label class="texto-detalhes" id="idioma">.</label>
            </div>
            <div class="col s4">
                <label class="texto-detalhes" id="editora">.</label>
            </div>
            <div class="col s4">
                <label class="texto-detalhes" id="sessao">.</label>
            </div>
        </div>
        <div class="row" id="linha-detalhes">
            <div class="col s12">
                <label>Descrição:</label>
            </div>
        </div>
        <div class="row" id="linha-detalhes">
            <div class="col s12">
                <label class="texto-detalhes" id="descricao">.</label>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <hr />
        <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Fechar</a>
    </div>
</div>

<div id="md1" class="modal">
    <div class="modal-content">
        <h4>Confirmação</h4>
        <p>Tem certeza que deseja remover este exemplar?</p>
    </div>
    <div class="modal-footer">
        <a href="#" class="waves-effect waves-red btn-flat" onclick="$('#md1').closeModal(); return false;">Cancelar</a>
        <a href="#" class="waves-effect waves-green btn-flat" id="md1_YesBtn">Confirmar</a>
    </div>
</div>

@section scripts{
    <script type="text/javascript">

        function showModal(id, modal) {
            $('#' + modal).openModal();
            $('#' + modal + '_YesBtn').click(function () { $('#' + modal).closeModal(); DeletaRegistro(id); });
        }

        $(document).ready(function () {

            $('.modal-trigger').leanModal();
        });

    </script>
}
