@model Finis.Models.Servico

@{
    ViewBag.Title = "Editar Serviço";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="container" id="formulario">
        <form class="col s12">
            <div class="row">

                @Html.ValidationSummary(true, "", new { @class = "validate" })
                @Html.HiddenFor(model => model.id)

                <div class="row">
                    <div class="input-field col s6">
                        @Html.LabelFor(model => model.nome)
                        @Html.EditorFor(model => model.nome, new { htmlAttributes = new { @class = "validate" } })
                        @Html.ValidationMessageFor(model => model.nome, "", new { @class = "validate" })
                    </div>
                    <div class="input-field col s3">
                        @Html.LabelFor(model => model.precoCompra, htmlAttributes: new { @class = "validate" })
                        @{ Html.EnableClientValidation(false); }
                        @Html.EditorFor(model => model.precoCompra, new { htmlAttributes = new { @class = "validate" } })
                        @{ Html.EnableClientValidation(true); }
                        @Html.ValidationMessageFor(model => model.precoCompra, "", new { @class = "validate" })
                    </div>
                    <div class="input-field col s3">
                        @Html.LabelFor(model => model.precoVenda, htmlAttributes: new { @class = "validate" })
                        @{ Html.EnableClientValidation(false); }
                        @Html.EditorFor(model => model.precoVenda, new { htmlAttributes = new { @class = "validate" } })
                        @{ Html.EnableClientValidation(true); }
                        @Html.ValidationMessageFor(model => model.precoVenda, "", new { @class = "validate" })
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        @Html.LabelFor(model => model.descricao, htmlAttributes: new { @class = "validate" })
                        @Html.ValidationMessageFor(model => model.descricao, "", new { @class = "validate" })
                        @Html.TextAreaFor(model => model.descricao, new { @class = "materialize-textarea" })
                    </div>
                </div>
                <div class="row">
                    <button class="btn waves-effect waves-light" onClick="location.href='@Url.Action("Index","Servicos")'" type="button" name="action">
                        <i class="fa fa-arrow-left" aria-hidden="true"></i>
                        Voltar
                    </button>
                    <button class="btn waves-effect waves-light" type="submit" name="action">
                        Salvar
                        <i class="fa fa-plus" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>
                            }

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">

        $(document).ready(function () {

             var erro = "@ViewBag.Erro";

             if (erro != "" && erro != null && erro != undefined)
             {
                 alert("Erro: " + erro);
             }
        });

    </script>
}