@model IEnumerable<Finis.Models.Cliente>

@{
    ViewBag.Title = "Cadastro de clientes";
}

<script>

    function DeletaRegistro(id) {
        
        $.ajax({
                 type: "GET",
                 url: "@Url.Action("DeletarRegistro", "Clientes")",
                 data: { id: id },
                 dataType: "json",
                 success: function (dados) {
                     location.reload();
                 }
             });
    }

    function CarregaDetalhes(id) {

             $.ajax({
                 type: "GET",
                 url: "@Url.Action("Detalhes", "Clientes")",
                 data: { id: id },
                 dataType: "json",
                 success: function (dados) {
                     obj = JSON.parse(dados.Resultado);
                     PreencheModalDetalhes(obj);
                 }
        });
    }

    function PreencheModalDetalhes(obj) {

        document.getElementById('nome').innerHTML = obj.nome;
        document.getElementById('dtaNascimento').innerHTML = obj.dataNascimentoString;
        document.getElementById('genero').innerHTML = obj.generoString;
        document.getElementById('rg').innerHTML = obj.rg;
        document.getElementById('telefone').innerHTML = obj.telefone;
        document.getElementById('celular').innerHTML = obj.celular;
        document.getElementById('email').innerHTML = SubstituirCampoNulo(obj.email);
        document.getElementById('saldoParcial').innerHTML = obj.saldoCreditoParcialString;
        document.getElementById('saldoEspecial').innerHTML = obj.saldoCreditoEspecialString;

        document.getElementById('logradouro').innerHTML = obj.endereco.logradouro;
        document.getElementById('numero').innerHTML = obj.endereco.numero;
        document.getElementById('complemento').innerHTML = SubstituirCampoNulo(obj.endereco.complemento);
        document.getElementById('bairro').innerHTML = SubstituirCampoNulo(obj.endereco.bairro);
        document.getElementById('cep').innerHTML = SubstituirCampoNulo(obj.endereco.cep);
        document.getElementById('cidade').innerHTML = obj.endereco.cidade.nome;
    }

    function SubstituirCampoNulo(campo) {

        if (campo == null)
            return " - "
        else
            return campo;
    }

</script>

@using (Html.BeginForm())
{
    <div id="container-busca">
        <div class="nav-wrapper">
            <form>
                <div class="row">
                    <div class="input-field col s8">
                        @Html.Label("Buscar")
                        @Html.Editor("pesquisar", new { htmlAttributes = new { @class = "validate" } })
                    </div>
                    <div class="col s2">
                        <button type="submit" class="btn-floating" id="botao-busca">
                            <i class="material-icons">search</i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
}
<div class="fixed-action-btn">
    <a class="btn-floating btn-large red" href="@Url.Action("Create","Clientes")">
        <i class="material-icons">add</i>
    </a>
</div>
<table class="highlight">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.rg)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.telefone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.celular)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.saldoCreditoParcial)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.saldoCreditoEspecial)
            </th>
            <th>Opções</th>
        </tr>
    </thead>
@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.rg)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.telefone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.celular)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.saldoCreditoParcialString)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.saldoCreditoEspecialString)
        </td>
        <td>
            <a class="btn-floating blue" href="@Url.Action("Edit", "Clientes", new { id = @item.id })"><i class="material-icons">mode_edit</i></a>
            <a class="btn-floating green details modal-trigger" onclick="CarregaDetalhes(@item.id)" href="#modal1">
                <i class="fa fa-info" aria-hidden="true"></i>
            </a>
            <a class="btn-floating red" onclick="showModal(@item.id, 'md1'); return false;"><i class="material-icons">delete</i></a>
        </td>
    </tr>
}
</table>

<!-- Estrutura do Modal de detalhes -->
<div id="modal1" class="modal">
    <div class="modal-content">
        <h5>Informações do cliente</h5>
        <div class="row" id="linha-detalhes">
            <div class="col s8">
                <label>Nome:</label>
            </div>
            <div class="col s4">
                <label>Data de nascimento:</label>
            </div>
        </div>
        <div class="row" id="linha-detalhes">
            <div class="col s8">
                <label class="texto-detalhes" id="nome">.</label>
            </div>
            <div class="col s4">
                <label class="texto-detalhes" id="dtaNascimento">.</label>
            </div>
        </div>
        <div class="row" id="linha-detalhes">
            <div class="col s3">
                <label>Gênero:</label>
            </div>
            <div class="col s3">
                <label>Registro geral (RG):</label>
            </div>
            <div class="col s3">
                <label>Telefone:</label>
            </div>
            <div class="col s3">
                <label>Celular:</label>
            </div>
        </div>
        <div class="row" id="linha-detalhes">
            <div class="col s3">
                <label class="texto-detalhes" id="genero">.</label>
            </div>
            <div class="col s3">
                <label class="texto-detalhes" id="rg">.</label>
            </div>
            <div class="col s3">
                <label class="texto-detalhes" id="telefone">.</label>
            </div>
            <div class="col s3">
                <label class="texto-detalhes" id="celular">.</label>
            </div>
        </div>
        <div class="row" id="linha-detalhes">
            <div class="col s5">
                <label>Logradouro:</label>
            </div>
            <div class="col s2">
                <label>Número:</label>
            </div>
            <div class="col s3">
                <label>Complemento:</label>
            </div>
        </div>
        <div class="row" id="linha-detalhes">
            <div class="col s5">
                <label class="texto-detalhes" id="logradouro">.</label>
            </div>
            <div class="col s2">
                <label class="texto-detalhes" id="numero">.</label>
            </div>
            <div class="col s3">
                <label class="texto-detalhes" id="complemento">.</label>
            </div>
        </div>
        <div class="row" id="linha-detalhes">
            <div class="col s3">
                <label>CEP:</label>
            </div>
            <div class="col s3">
                <label>Bairro:</label>
            </div>
            <div class="col s4">
                <label>Cidade:</label>
            </div>
        </div>
        <div class="row" id="linha-detalhes">
            <div class="col s3">
                <label class="texto-detalhes" id="cep">.</label>
            </div>
            <div class="col s3">
                <label class="texto-detalhes" id="bairro">.</label>
            </div>
            <div class="col s4">
                <label class="texto-detalhes" id="cidade">.</label>
            </div>
        </div>
        <div class="row" id="linha-detalhes">
            <div class="col s6">
                <label>E-mail:</label>
            </div>
            <div class="col s3">
                <label>Saldo parcial:</label>
            </div>
            <div class="col s3">
                <label>Saldo especial:</label>
            </div>
        </div>
        <div class="row" id="linha-detalhes">
            <div class="col s6">
                <label class="texto-detalhes" id="email">.</label>
            </div>
            <div class="col s3">
                <label class="texto-detalhes" id="saldoParcial">.</label>
            </div>
            <div class="col s3">
                <label class="texto-detalhes" id="saldoEspecial">.</label>
            </div>
        </div>
    </div>
    <div class="modal-footer"> <hr/>
        <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Fechar</a>
    </div>
</div>

<div id="md1" class="modal">
    <div class="modal-content">
        <h4>Confirmação</h4>
        <p>Tem certeza que deseja remover este cliente?</p>
    </div>
    <div class="modal-footer">
        <a href="#" class="waves-effect waves-red btn-flat" onclick="$('#md1').closeModal(); return false;">Cancelar</a>
        <a href="#" class="waves-effect waves-green btn-flat" id="md1_YesBtn">Confirmar</a>
    </div>
</div>

@section scripts{
<script type="text/javascript">

    function showModal(id, modal) {
        $('#' + modal).openModal();
        $('#' + modal + '_YesBtn').click(function () { $('#' + modal).closeModal(); DeletaRegistro(id); });
    }
    
    $(document).ready(function () {

        $('.modal-trigger').leanModal();
    });
    
</script>
}
