@model IEnumerable<Finis.Models.Transacao>

@{
    ViewBag.Title = "Registro de Transações";
}
<script>

    function CarregaDetalhes(id) {

             $.ajax({
                 type: "GET",
                 url: "@Url.Action("Detalhes", "Transacoes")",
                 data: { id: id },
                 dataType: "json",
                 success: function (dados) {
                     obj = JSON.parse(dados.Resultado);
                     PreencheModalDetalhes(obj);
                 }
        });
    }

    function PreencheModalDetalhes(obj) {

        document.getElementById('valor').innerHTML = SubstituirCampoNulo(obj.valorString);
        document.getElementById('data').innerHTML = SubstituirCampoNulo(obj.dataString);
        document.getElementById('tipoTransacao').innerHTML = SubstituirCampoNulo(obj.tipoTransacaoString);
        document.getElementById('tipoCredito').innerHTML = SubstituirCampoNulo(obj.tipoCreditoString);
        document.getElementById('clienteNome').innerHTML = SubstituirCampoNulo(obj.cliente.nome);
        document.getElementById('clienteRg').innerHTML = SubstituirCampoNulo(obj.cliente.rg);
    }

    function SubstituirCampoNulo(campo) {

        if (campo == null || campo == "")
            return " - "
        else
            return campo;
    }

</script>

@using (Html.BeginForm())
{
    <div id="container-busca">
        <div class="nav-wrapper">
            <form>
                <div class="row">
                    <div class="input-field col s12">
                        @Html.Label("Cliente")
                        @Html.Editor("pesquisar", new { htmlAttributes = new { @type = "text", @id = "estadoNome", @class = "autocomplete" } })
                    </div>
                </div>
                <div class="row">
                    <div class="col s3">
                        @Html.Editor("dataInicio", new { htmlAttributes = new { @id = "date", @class = "datepicker", @placeholder = "Data de início" } })
                    </div>
                    <div class="col s3">
                        @Html.Editor("dataFim", new { htmlAttributes = new { @id = "date", @class = "datepicker", @placeholder = "Data de fim" } })
                    </div>
                    <div class="col s3">
                        <button type="submit" class="waves-effect waves-light btn">
                            Pesquisar
                            <i class="material-icons right">search</i>
                        </button>
                    </div>
               </div>
            </form>
        </div>
    </div>
}
<div class="fixed-action-btn">
    <a class="btn-floating btn-large red" href="@Url.Action("Create","Avaliacoes")">
        <i class="material-icons">add</i>
    </a>
    <ul>
        <li>
            <a class="btn-floating btn-large green" href="@Url.Action("Exportar", "Avaliacoes")" , target="_blank">
                <i class="material-icons">print</i>
            </a>
        </li>
    </ul>
</div>
<table class="highlight">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.cliente.nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cliente.rg)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.valor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tipoTransacao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tipoCredito)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.data)
        </th>
        <th>Detalhes</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.cliente.nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cliente.rg)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.valorString)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tipoTransacaoString)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tipoCreditoString)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.data)
            </td>
            <td>
                <a class="btn-floating green details modal-trigger" onclick="CarregaDetalhes(@item.id)" href="#modal1">
                    <i class="fa fa-info" aria-hidden="true"></i>
                </a>
            </td>
        </tr>
    }

</table>

<!-- Estrutura do Modal de detalhes -->
<div id="modal1" class="modal">
    <div class="modal-content">
        <h5>Informações do registro</h5>
        <div class="row" id="linha-detalhes">
            <div class="col s8">
                <label>Valor:</label>
            </div>
            <div class="col s4">
                <label>Data:</label>
            </div>
        </div>
        <div class="row" id="linha-detalhes">
            <div class="col s8">
                <label class="texto-detalhes" id="valor">.</label>
            </div>
            <div class="col s4">
                <label class="texto-detalhes" id="data">.</label>
            </div>
        </div>
        <div class="row" id="linha-detalhes">
            <div class="col s6">
                <label>Tipo de transação:</label>
            </div>
            <div class="col s6">
                <label>Tipo de crédito:</label>
            </div>
        </div>
        <div class="row" id="linha-detalhes">
            <div class="col s6">
                <label class="texto-detalhes" id="tipoTransacao">.</label>
            </div>
            <div class="col s6">
                <label class="texto-detalhes" id="tipoCredito">.</label>
            </div>
        </div>
        <div class="row" id="linha-detalhes">
            <div class="col s8">
                <label>Cliente:</label>
            </div>
            <div class="col s4">
                <label>Registro Geral (RG):</label>
            </div>
        </div>
        <div class="row" id="linha-detalhes">
            <div class="col s8">
                <label class="texto-detalhes" id="clienteNome">.</label>
            </div>
            <div class="col s4">
                <label class="texto-detalhes" id="clienteRg">.</label>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <hr />
        <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Fechar</a>
    </div>
</div>
<div id="md1" class="modal">
    <div class="modal-content">
        <h4>Confirmação</h4>
        <p>Tem certeza que deseja remover este registro?</p>
    </div>
    <div class="modal-footer">
        <a href="#" class="waves-effect waves-red btn-flat" onclick="$('#md1').closeModal(); return false;">Cancelar</a>
        <a href="#" class="waves-effect waves-green btn-flat" id="md1_YesBtn">Confirmar</a>
    </div>
</div>
@section scripts{
@Scripts.Render("~/bundles/materialize")
    <script type="text/javascript">

        var dados = {};

        function showModal(id, modal) {
            $('#' + modal).openModal();
            $('#' + modal + '_YesBtn').click(function () { $('#' + modal).closeModal(); DeletaRegistro(id); });
        }

        $(document).ready(function () {

            $('.modal-trigger').leanModal();

            $('.datepicker').pickadate({
                selectMonths: true,//Creates a dropdown to control month
                selectYears: 100,//Creates a dropdown of 15 years to control year
                //The title label to use for the month nav buttons
                labelMonthNext: 'Proximo Mês',
                labelMonthPrev: 'Mês Anterior',
                //The title label to use for the dropdown selectors
                labelMonthSelect: 'Selecionar Mês',
                labelYearSelect: 'Selecionar Ano',
                //Months and weekdays
                monthsFull: ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro'],
                monthsShort: ['Jan', 'Fev', 'Mar', 'Abr', 'Maio', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez'],
                weekdaysFull: ['Domingo', 'Segunda', 'Terça', 'Quarta', 'Quinta', 'Sexta', 'Sábado'],
                weekdaysShort: ['Dom', 'Seg', 'Ter', 'Qua', 'Qui', 'Sex', 'Sáb'],
                //Materialize modified
                weekdaysLetter: ['D', 'S', 'T', 'Q', 'Q', 'S', 'S'],
                //Today and clear
                today: 'Hoje',
                clear: 'Limpar',
                close: 'Fechar',
                //The format to show on the `input` element
                format: 'dd/mm/yyyy'
            });

            $.ajax({
                type: 'GET',
                url: '@Url.Action("DropboxClientes", "Transacoes")',
                success: function (response) {
                    var resultado = JSON.parse(response);

                    for (i = 0; i < resultado.lista.length; i++)
                    {
                        dados[resultado.lista[i].id + " - " + resultado.lista[i].nome + " - " + resultado.lista[i].rg] = null;
                    }

                    $('input.autocomplete').autocomplete({
                        data: dados,
                        limit: 5,
                        onAutocomplete: function (val) {
                            
                        },
                    });
                }
            });

        });

    </script>
}