<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Projeto Finis</title>
    @Styles.Render("http://fonts.googleapis.com/icon?family=Material+Icons")
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="~/Content/menu.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
</head>
<body>
    <div class="navbar-fixed">
        <nav>
            <div class="nav-wrapper">
                <div class="nav-content">
                    <ul class="right" style="float:right" ;>
                        <li><a href="#"><i class="material-icons">input</i></a></li>
                    </ul>
                    <span id="titulo-pagina" class="nav-title">@ViewBag.Title</span>
                    <a href="@Url.Action("Index","Home")" class="brand-logo center">
                        <img src="~/Content/imagens/logo.png" id="logo-menu" />
                    </a>
                    <a href="#" data-activates="menu-lateral" class="button-collapse show-on-large">
                        <i id="icone-menu" class="material-icons">menu</i>
                    </a>
                </div>
                <ul id="menu-lateral" class="side-nav">
                    <li class="no-padding">
                        <ul class="collapsible collapsible-accordion">
                            <li class="bold">
                                <a href="@Url.Action("Index", "Home")" class="waves-effect">
                                    <i class="fa fa-tachometer fa-2x" aria-hidden="true"></i> &nbsp; &nbsp; Página Inicial
                                </a>
                            </li>
                            <li class="bold">
                                <a class="collapsible-header  waves-effect waves-teal">
                                    <i class="fa fa-id-card-o" aria-hidden="true"></i> &nbsp; Cadastros
                                </a>
                                <div class="collapsible-body">
                                    <ul>
                                        <li><a href="@Url.Action("Index","Paises")">Países</a></li>
                                        <li><a href="@Url.Action("Index","Estados")">Estados</a></li>
                                        <li><a href="@Url.Action("Index","Cidades")">Cidades</a></li>
                                        <li><a href="@Url.Action("Index","Clientes")">Clientes</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li class="bold">
                                <a class="collapsible-header  waves-effect waves-teal">
                                    <i class="fa fa-book" aria-hidden="true"></i> &nbsp; Acervo
                                </a>
                                <div class="collapsible-body">
                                    <ul>
                                        <li><a href="@Url.Action("Index","Exemplares")">Exemplares</a></li>
                                        <li><a href="@Url.Action("Index","Editoras")">Editoras</a></li>
                                        <li><a href="@Url.Action("Index","Sessoes")">Sessões</a></li>
                                        <li><a href="@Url.Action("Index","Idiomas")">Idiomas</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li class="bold">
                                <a href="@Url.Action("Index", "Avaliacoes")" class="waves-effect waves-teal">
                                    <i class="fa fa-check-square-o fa-2x" aria-hidden="true"></i> &nbsp; &nbsp; Avaliações
                                </a>
                            </li>
                            <li class="bold">
                                <a href="@Url.Action("Index", "Transacoes")" class="waves-effect waves-teal">
                                    <i class="fa fa-exchange fa-2x" aria-hidden="true"></i> &nbsp; &nbsp; Transações
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <div class="conteudo">
        @RenderBody()
    </div>
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
    <script src="https://use.fontawesome.com/9e29277c40.js"></script>

    <script src="~/Scripts/jquery.mask.min.js"></script>
    <script src="~/Scripts/jquery.maskedinput.min.js"></script>
    
    @RenderSection("Scripts", required: false)
    <script>
        $(".button-collapse").sideNav({
            menuWidth: 300, 
            edge: 'left', 
            closeOnClick: true
        });
    </script>
</body>
</html>