@{
    ViewBag.Title = "Página inicial";
}

@Styles.Render("~/Content/home.css")

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script src="~/Scripts/Graficos.js"></script>

<div class="row">
    <div class="col s3">
        <div class="card">
            <div class="card-image">
                <img src="~/Content/imagens/office-620822_640.jpg" />
                <a class="btn-floating btn-large halfway-fab waves-effect waves-light red" id="btn-floating-card" href="@Url.Action("Create","Clientes")">
                    <i class="material-icons">add</i>
                </a>
            </div>
            <div class="card-content">
                <span class="card-title"><a href="@Url.Action("Index","Clientes")">Clientes</a></span>
                <p>Cadastro das informações dos clientes como nome, RG e saldo de créditos.</p>
            </div>
        </div>
    </div>
    <div class="col s3">
        <div class="card">
            <div class="card-image">
                <img src="~/Content/imagens/arranged-1842261_640.jpg" />
                <a class="btn-floating btn-large halfway-fab waves-effect waves-light red" id="btn-floating-card" href="@Url.Action("Create","Exemplares")">
                    <i class="material-icons">add</i>
                </a>
            </div>
            <div class="card-content">
                <span class="card-title"><a href="@Url.Action("Index","Exemplares")">Exemplares</a></span>
                <p>Cadastro dos livros, revistas, gibis e demais exemplares do acervo.</p>
            </div>
        </div>
    </div>
    <div class="col s3">
        <div class="card">
            <div class="card-image">
                <img src="~/Content/imagens/books-1012088_640.jpg" />
                <a class="btn-floating btn-large halfway-fab waves-effect waves-light red" id="btn-floating-card" href="@Url.Action("Create","Avaliacoes")">
                    <i class="material-icons">add</i>
                </a>
            </div>
            <div class="card-content">
                <span class="card-title"><a href="@Url.Action("Index","Avaliacoes")">Avaliações</a></span>
                <p>Gerenciamento das avaliações de exemplares para o acervo.</p>
            </div>
        </div>
    </div>
    <div class="col s3">
        <div class="card">
            <div class="card-image">
                <img src="~/Content/imagens/cash-register-78741_640.jpg" />
                <a class="btn-floating btn-large halfway-fab waves-effect waves-light red" id="btn-floating-card" href="@Url.Action("Index","Transacoes")">
                    <i class="material-icons">add</i>
                </a>
            </div>
            <div class="card-content">
                <span class="card-title"><a href="@Url.Action("Index","Transacoes")">Transações</a></span>
                <p>Gerenciamento das transações de créditos realizadas pelos clientes.</p>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col s6" style="margin-top: -50px !important;">
        <div class="card">
            <div id="donutchart" style="width: auto; height: 500px;"></div>
        </div>
    </div>
    <div class="col s6" style="margin-top: -50px !important;"> 
        <div class="card">
            <div id="piechart" style="width: auto; height: 500px;"></div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col s12" style="margin-top: -100px !important;">
        <div class="card">
            <div id="columnchart_material" style="width: auto; height: 600px; padding: 40px;"></div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col s12 m6 l3">
        <div class="card">
            <div class="card-content  green white-text">
                <p class="card-stats-title"><i class="mdi-social-group-add"></i>Clientes</p>
                <h4 class="card-stats-number">248</h4>
                <p class="card-stats-compare">
                    <i class="mdi-hardware-keyboard-arrow-up"></i> +5% <span class="green-text text-lighten-5"> do último mês</span>
                </p>
            </div>
            <div class="card-action  green darken-2">
                <div id="clients-bar"><canvas style="display: inline-block; width: 290px; height: 25px; vertical-align: top;" width="290" height="25"></canvas></div>
            </div>
        </div>
    </div>
    <div class="col s12 m6 l3">
        <div class="card">
            <div class="card-content purple white-text">
                <p class="card-stats-title"><i class="mdi-editor-attach-money"></i>Total de vendas</p>
                <h4 class="card-stats-number">R$5990.63</h4>
                <p class="card-stats-compare">
                    <i class="mdi-hardware-keyboard-arrow-up"></i> +20% <span class="purple-text text-lighten-5"> do último mês</span>
                </p>
            </div>
            <div class="card-action purple darken-2">
                <div id="sales-compositebar"><canvas style="display: inline-block; width: 286px; height: 25px; vertical-align: top;" width="286" height="25"></canvas></div>
            </div>
        </div>
    </div>
    <div class="col s12 m6 l3">
        <div class="card">
            <div class="card-content blue-grey white-text">
                <p class="card-stats-title"><i class="mdi-action-trending-up"></i> Total de exemplares</p>
                <h4 class="card-stats-number">806</h4>
                <p class="card-stats-compare">
                    <i class="mdi-hardware-keyboard-arrow-up"></i> +2% <span class="blue-grey-text text-lighten-5">do último mês</span>
                </p>
            </div>
            <div class="card-action blue-grey darken-2">
                <div id="profit-tristate"><canvas style="display: inline-block; width: 290px; height: 25px; vertical-align: top;" width="290" height="25"></canvas></div>
            </div>
        </div>
    </div>
    <div class="col s12 m6 l3">
        <div class="card">
            <div class="card-content pink lighten-2 white-text">
                <p class="card-stats-title"><i class="mdi-editor-insert-drive-file"></i> Produtos e Serviços</p>
                <h4 class="card-stats-number">206</h4>
                <p class="card-stats-compare">
                    <i class="mdi-hardware-keyboard-arrow-down"></i> +3% <span class="deep-purple-text text-lighten-5">do último mês</span>
                </p>
            </div>
            <div class="card-action  pink darken-2">
                <div id="invoice-line"><canvas style="display: inline-block; width: 324px; height: 25px; vertical-align: top;" width="324" height="25"></canvas></div>
            </div>
        </div>
    </div>
</div>

@*
- número de clientes - card
- número de exemplares - card
- número de produtos - card
- situacao avaliacao (aguardando, avaliado, aguardando retorno) - donut
- número de transações de créditos (saída, entrada) - barras
- situacao pedido (pendentes, realizados, aguardando) - pizza
*@
