@model IEnumerable<Finis.Models.Avaliacao>

@{
    ViewBag.Title = "Cadastro de Avaliações";
}
<script>

    function ConcluirAvaliacao(id) {

        $.ajax({
                 type: "GET",
                 url: "@Url.Action("ConcluirAvaliacao", "Avaliacoes")",
                 data: { id: id },
                 dataType: "json",
                 success: function (dados) {

                     if (dados.Sucesso) {
                         location.reload();
                     } else {
                         alert(dados.Resultado);
                     }
                 }
             });
    }

    function CancelarAvaliacao(id) {

       $.ajax({
                 type: "GET",
                 url: "@Url.Action("CancelarAvaliacao", "Avaliacoes")",
                 data: { id: id },
                 dataType: "json",
                 success: function (dados) {

                     if (dados.Sucesso) {
                         location.reload();
                     } else {
                         alert(dados.Resultado);
                     }
                 }
             });
    }

    function DeletaRegistro(id) {

        $.ajax({
                 type: "GET",
                 url: "@Url.Action("DeletarRegistro", "Avaliacoes")",
                 data: { id: id },
                 dataType: "json",
                 success: function (dados) {
                     location.reload();
                 }
             });
    }

    function CarregaDetalhes(id) {

             $.ajax({
                 type: "GET",
                 url: "@Url.Action("Detalhes", "Avaliacoes")",
                 data: { id: id },
                 dataType: "json",
                 success: function (dados) {
                     obj = JSON.parse(dados.Resultado);
                     PreencheModalDetalhes(obj);
                 }
        });
    }

    function PreencheModalDetalhes(obj) {

        document.getElementById('nome').innerHTML = SubstituirCampoNulo(obj.cliente.nome);
        document.getElementById('rg').innerHTML = SubstituirCampoNulo(obj.cliente.rg);
        document.getElementById('dataEntrada').innerHTML = SubstituirCampoNulo(obj.dataEntradaString);
        document.getElementById('quantidadeExemplares').innerHTML = SubstituirCampoNulo(obj.quantidadeExemplares);
        document.getElementById('creditoEspecial').innerHTML = SubstituirCampoNulo(obj.creditoEspecialString);
        document.getElementById('creditoParcial').innerHTML = SubstituirCampoNulo(obj.creditoParcialString);
        document.getElementById('situacao').innerHTML = SubstituirCampoNulo(obj.situacaoString);
        document.getElementById('status').innerHTML = SubstituirCampoNulo(obj.statusString);
    }

    function SubstituirCampoNulo(campo) {

        if (campo == null)
            return " - "
        else
            return campo;
    }

</script>

@using (Html.BeginForm())
{
    <div id="container-busca">
        <div class="nav-wrapper">
            <form>
                <div class="row">
                    <div class="input-field col s12">
                        @Html.Label("Cliente")
                        @Html.Editor("pesquisar", new { htmlAttributes = new { @type = "text", @id = "estadoNome", @class = "autocomplete" } })
                    </div>
                </div>
                <div class="row">
                    <div class="col s3">
                        @Html.Editor("dataInicio", new { htmlAttributes = new { @id = "date", @class = "datepicker", @placeholder = "Data de início" } })
                    </div>
                    <div class="col s3">
                        @Html.Editor("dataFim", new { htmlAttributes = new { @id = "date", @class = "datepicker", @placeholder = "Data de fim" } })
                    </div>
                    <div class="col s3">
                        <button type="submit" class="waves-effect waves-light btn">
                            Pesquisar
                            <i class="material-icons right">search</i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
}
<div class="fixed-action-btn">
    <a class="btn-floating btn-large red" href="@Url.Action("Create","Avaliacoes")">
        <i class="material-icons">add</i>
    </a>
</div>
<table class="highlight">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.cliente.nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cliente.rg)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dataEntrada)
        </th>
        <th>
            @Html.DisplayName("Exemplares")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.creditoEspecial)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.creditoParcial)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.situacao)
        </th>
        <th>Opções</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.cliente.nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cliente.rg)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dataEntradaString)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.quantidadeExemplares)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.statusString)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.creditoEspecialString)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.creditoParcialString)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.situacaoString)
            </td>
            <td>
                <a class="btn-floating blue" href="@Url.Action("Edit", "Avaliacoes", new { id = @item.id })"><i class="material-icons">mode_edit</i></a>
                <a class="btn-floating green details modal-trigger" onclick="CarregaDetalhes(@item.id)" href="#modal1">
                    <i class="fa fa-info" aria-hidden="true"></i>
                </a>
                <a class="btn-floating red" onclick="showModal(@item.id, 'md1'); return false;"><i class="material-icons">delete</i></a>
                <a class="btn-floating yellow darken-2" onclick="showModalConcluir(@item.id, 'md2'); return false;"><i class="fa fa-check" aria-hidden="true"></i></a>
                <a class="btn-floating yellow darken-2" onclick="showModalCancelar(@item.id, 'md3'); return false;"><i class="fa fa-times" aria-hidden="true"></i></a>
            </td>
        </tr>
    }

</table>

<!-- Estrutura do Modal de detalhes -->
<div id="modal1" class="modal">
    <div class="modal-content">
        <h5>Informações do registro</h5>
        <div class="row" id="linha-detalhes">
            <div class="col s8">
                <label>Nome do cliente:</label>
            </div>
            <div class="col s4">
                <label>RG do cliente:</label>
            </div>
        </div>
        <div class="row" id="linha-detalhes">
            <div class="col s8">
                <label class="texto-detalhes" id="nome">.</label>
            </div>
            <div class="col s4">
                <label class="texto-detalhes" id="rg">.</label>
            </div>
        </div>
        <div class="row" id="linha-detalhes">
            <div class="col s4">
                <label>Data de entrada:</label>
            </div>
            <div class="col s2">
                <label>Quantidade:</label>
            </div>
            <div class="col s3">
                <label>Créd. Parcial:</label>
            </div>
            <div class="col s3">
                <label>Créd. Especial:</label>
            </div>
        </div>
        <div class="row" id="linha-detalhes">
            <div class="col s4">
                <label class="texto-detalhes" id="dataEntrada">.</label>
            </div>
            <div class="col s2">
                <label class="texto-detalhes" id="quantidadeExemplares">.</label>
            </div>
            <div class="col s3">
                <label class="texto-detalhes" id="creditoEspecial">.</label>
            </div>
            <div class="col s3">
                <label class="texto-detalhes" id="creditoParcial">.</label>
            </div>
        </div>
        <div class="row" id="linha-detalhes">
            <div class="col s6">
                <label>Situação:</label>
            </div>
            <div class="col s6">
                <label>Status:</label>
            </div>
        </div>
        <div class="row" id="linha-detalhes">
            <div class="col s6">
                <label class="texto-detalhes" id="situacao">.</label>
            </div>
            <div class="col s6">
                <label class="texto-detalhes" id="status">.</label>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <hr />
        <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Fechar</a>
    </div>
</div>
<div id="md1" class="modal">
    <div class="modal-content">
        <h4>Confirmação</h4>
        <p>Tem certeza que deseja remover este registro?</p>
    </div>
    <div class="modal-footer">
        <a href="#" class="waves-effect waves-red btn-flat" onclick="$('#md1').closeModal(); return false;">Cancelar</a>
        <a href="#" class="waves-effect waves-green btn-flat" id="md1_YesBtn">Confirmar</a>
    </div>
</div>
<div id="md2" class="modal">
    <div class="modal-content">
        <h4>Confirmação</h4>
        <p>Tem certeza que deseja concluir esta avaliação?</p>
    </div>
    <div class="modal-footer">
        <a href="#" class="waves-effect waves-red btn-flat" onclick="$('#md2').closeModal(); return false;">Cancelar</a>
        <a href="#" class="waves-effect waves-green btn-flat" id="md2_YesBtn">Confirmar</a>
    </div>
</div>
<div id="md3" class="modal">
    <div class="modal-content">
        <h4>Confirmação</h4>
        <p>Tem certeza que deseja cancelar esta avaliação?</p>
    </div>
    <div class="modal-footer">
        <a href="#" class="waves-effect waves-red btn-flat" onclick="$('#md3').closeModal(); return false;">Cancelar</a>
        <a href="#" class="waves-effect waves-green btn-flat" id="md3_YesBtn">Confirmar</a>
    </div>
</div>

@section scripts{
    @Scripts.Render("~/bundles/materialize")
    <script type="text/javascript">

        var dados = {};

        function showModal(id, modal) {
            $('#' + modal).openModal();
            $('#' + modal + '_YesBtn').click(function () { $('#' + modal).closeModal(); DeletaRegistro(id); });
        }

        function showModalConcluir(id, modal) {
            $('#' + modal).openModal();
            $('#' + modal + '_YesBtn').click(function () { $('#' + modal).closeModal(); ConcluirAvaliacao(id); });
        }

        function showModalCancelar(id, modal) {
            $('#' + modal).openModal();
            $('#' + modal + '_YesBtn').click(function () { $('#' + modal).closeModal(); CancelarAvaliacao(id); });
        }

        $(document).ready(function () {

            $('.tooltipped').tooltip({ delay: 10 });

            $('.modal-trigger').leanModal();

            $('.datepicker').pickadate({
                selectMonths: true,//Creates a dropdown to control month
                selectYears: 100,//Creates a dropdown of 15 years to control year
                //The title label to use for the month nav buttons
                labelMonthNext: 'Proximo Mês',
                labelMonthPrev: 'Mês Anterior',
                //The title label to use for the dropdown selectors
                labelMonthSelect: 'Selecionar Mês',
                labelYearSelect: 'Selecionar Ano',
                //Months and weekdays
                monthsFull: ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro'],
                monthsShort: ['Jan', 'Fev', 'Mar', 'Abr', 'Maio', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez'],
                weekdaysFull: ['Domingo', 'Segunda', 'Terça', 'Quarta', 'Quinta', 'Sexta', 'Sábado'],
                weekdaysShort: ['Dom', 'Seg', 'Ter', 'Qua', 'Qui', 'Sex', 'Sáb'],
                //Materialize modified
                weekdaysLetter: ['D', 'S', 'T', 'Q', 'Q', 'S', 'S'],
                //Today and clear
                today: 'Hoje',
                clear: 'Limpar',
                close: 'Fechar',
                //The format to show on the `input` element
                format: 'dd/mm/yyyy'
            });
            
            $.ajax({
                type: 'GET',
                url: '@Url.Action("DropboxClientes", "Transacoes")',
                success: function (response) {
                    var resultado = JSON.parse(response);

                    for (i = 0; i < resultado.lista.length; i++)
                    {
                        dados[resultado.lista[i].id + " - " + resultado.lista[i].nome + " - " + resultado.lista[i].rg] = null;
                    }

                    $('input.autocomplete').autocomplete({
                        data: dados,
                        limit: 5,
                        onAutocomplete: function (val) {

                        },
                    });
                }
            });

        });

    </script>
}