@model IEnumerable<Finis.Models.Produto>

@{
    ViewBag.Title = "Cadastro de Produtos";
}

    <script type="text/javascript">

    function DeletaRegistro(id) {

        $.ajax({
            type: "GET",
            url: "@Url.Action("DeletarRegistro", "Produtos")",
                 data: { id: id },
                 dataType: "json",
                 success: function (dados) {
                     console.log(dados);
                     if (dados) {
                         location.reload();
                     } else {
                         alert("Não foi possível remover porque este registro está sendo utilizado em outros cadastros!");
                     }
                 },
                 error: function (response) {
                     alert("Erro de execução, por favor recarregue a página!");  // 
                 }
             });
    }

    function CarregaDetalhes(id) {

             $.ajax({
                 type: "GET",
                 url: "@Url.Action("Detalhes", "Produtos")",
                 data: { id: id },
                 dataType: "json",
                 success: function (dados) {
                     obj = JSON.parse(dados.Resultado);
                     PreencheModalDetalhes(obj);
                 }
        });
    }

    function PreencheModalDetalhes(obj) {

        document.getElementById('nome').innerHTML = SubstituirCampoNulo(obj.nome);
        document.getElementById('descricao').innerHTML = SubstituirCampoNulo(obj.descricao);
        document.getElementById('precoCompra').innerHTML = SubstituirCampoNulo(obj.precoCompra);
        document.getElementById('precoVenda').innerHTML = SubstituirCampoNulo(obj.precoVenda);
        document.getElementById('quantidade').innerHTML = SubstituirCampoNulo(obj.quantidade);
        document.getElementById('marca').innerHTML = SubstituirCampoNulo(obj.marca.nome);
        document.getElementById('estoqueMinimo').innerHTML = SubstituirCampoNulo(obj.estoqueMinimo);
        document.getElementById('unidadeMedida').innerHTML = SubstituirCampoNulo(obj.unidadeMedida.simbolo);
    }

    function SubstituirCampoNulo(campo) {

        if (campo == null || campo == "")
            return " - "
        else
            return campo;
    }

    </script>

    @using (Html.BeginForm())
    {
        <div id="container-busca">
            <div class="nav-wrapper">
                <form>
                    <div class="row">
                        <div class="input-field col s8">
                            @Html.Label("Buscar")
                            @Html.Editor("pesquisar", new { htmlAttributes = new { @class = "validate" } })
                        </div>
                        <div class="col s2">
                            <button type="submit" class="btn-floating" id="botao-busca">
                                <i class="material-icons">search</i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    }
    <div class="fixed-action-btn">
        <a class="btn-floating btn-large red" href="@Url.Action("Create","Produtos")">
            <i class="material-icons">add</i>
        </a>
        <ul>
            <li>
                <a class="btn-floating btn-large green" href="@Url.Action("Exportar", "Produtos")" , target="_blank">
                    <i class="material-icons">print</i>
                </a>
            </li>
        </ul>
    </div>
    <table class="highlight">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.nome)
                </th>
                <th>
                    @Html.DisplayName("Marca")
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.precoCompra)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.precoVenda)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.quantidadeEstoque)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.estoqueMinimo)
                </th>
                <th>
                    @Html.DisplayName("Unid. Medida")
                </th>
                <th>Opções</th>
            </tr>
        </thead>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.marca.nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.precoCompra)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.precoVenda)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.quantidadeEstoque)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.estoqueMinimo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.unidadeMedida.simbolo)
                </td>
                <td>
                    <a class="btn-floating blue" href="@Url.Action("Edit", "Produtos", new { id = @item.id })"><i class="material-icons">mode_edit</i></a>
                    <a class="btn-floating green details modal-trigger" onclick="CarregaDetalhes(@item.id)" href="#modal1">
                        <i class="fa fa-info" aria-hidden="true"></i>
                    </a>
                    <a class="btn-floating red" onclick="showModal(@item.id, 'md1'); return false;"><i class="material-icons">delete</i></a>
                </td>
            </tr>
        }
    </table>

    <!-- Estrutura do Modal de detalhes -->
    <div id="modal1" class="modal">
        <div class="modal-content">
            <h5>Informações do exemplar</h5>
            <div class="row" id="linha-detalhes">
                <div class="col s8">
                    <label>Nome:</label>
                </div>
                <div class="col s4">
                    <label>Marca:</label>
                </div>
            </div>
            <div class="row" id="linha-detalhes">
                <div class="col s8">
                    <label class="texto-detalhes" id="nome">.</label>
                </div>
                <div class="col s4">
                    <label class="texto-detalhes" id="marca">.</label>
                </div>
            </div>
            <div class="row" id="linha-detalhes">
                <div class="col s2">
                    <label>Preço de venda:</label>
                </div>
                <div class="col s2">
                    <label>Preço de Compra:</label>
                </div>
                <div class="col s2">
                    <label>Quantidade:</label>
                </div>
                <div class="col s2">
                    <label>Estoque mínimo:</label>
                </div>
                <div class="col s4">
                    <label>Unidade de Medida:</label>
                </div>
            </div>
            <div class="row" id="linha-detalhes">
                <div class="col s2">
                    <label class="texto-detalhes" id="precoVenda">.</label>
                </div>
                <div class="col s2">
                    <label class="texto-detalhes" id="precoCompra">.</label>
                </div>
                <div class="col s2">
                    <label class="texto-detalhes" id="quantidade">.</label>
                </div>
                <div class="col s2">
                    <label class="texto-detalhes" id="estoqueMinimo">.</label>
                </div>
                <div class="col s4">
                    <label class="texto-detalhes" id="unidadeMedida">.</label>
                </div>
            </div>
            <div class="row" id="linha-detalhes">
                <div class="col s12">
                    <label>Descrição:</label>
                </div>
            </div>
            <div class="row" id="linha-detalhes">
                <div class="col s12">
                    <label class="texto-detalhes" id="descricao">.</label>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <hr />
            <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Fechar</a>
        </div>
    </div>

    <div id="md1" class="modal">
        <div class="modal-content">
            <h4>Confirmação</h4>
            <p>Tem certeza que deseja remover este exemplar?</p>
        </div>
        <div class="modal-footer">
            <a href="#" class="waves-effect waves-red btn-flat" onclick="$('#md1').closeModal(); return false;">Cancelar</a>
            <a href="#" class="waves-effect waves-green btn-flat" id="md1_YesBtn">Confirmar</a>
        </div>
    </div>

    @section scripts{
        <script type="text/javascript">

        function showModal(id, modal) {
            $('#' + modal).openModal();
            $('#' + modal + '_YesBtn').click(function () { $('#' + modal).closeModal(); DeletaRegistro(id); });
        }

        $(document).ready(function () {

            $('.modal-trigger').leanModal();
        });

        </script>
    }
